
.HomeCard{
background-color: grey;
color: white;
display: flex;
align-items: center;
border: 3px;
border-color: black;
box-shadow: 7px 5px 30px rgba(0, 0, 0, 0.485);
border-radius: 50px;

}

.HomeCardImg{
    display: flex;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.485);  
   
}

a{
    text-decoration: none;
}

