.custom-navbar {
  background-color: #333333;
  /* position: fixed; */
  width: 100%;
  z-index: 99;
}

.custom-navbar .navbar-brand {
  color: orange;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 140, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-navbar .nav-link.dropdown-toggle:hover {
  cursor: pointer;
}

.custom-navbar .dropdown-menu {
  background-color: whitesmoke;
}
.brand-logo {
  width: 30px;
  height: 30px;
}

.navbar {
  color: white;
}

@media (min-width: 992px) {
  .custom-navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}
