.header2{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
   /* border-top: 1px solid lightgray; */
    /* background-color: whitesmoke; */
}
.header3 ul li {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}

.button{
    margin-left: 10px;
    background-color: rgb(236, 127, 11);
}


.shoopingList {

background: yellow;

width: 85px;

}
.buttonTitle{
    margin-bottom: 15px;
}

form {

    text-align: center;
}
.badgeholder {

    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;

}